PORT=4000
CORS_ORIGIN=http://localhost:3000
OPENAI_API_KEY=
OPENAI_CLASSIFIER_MODEL=gpt-4o-mini
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=ap-southeast-1
CHAT_QUEUE_URL=https://sqs.ap-southeast-1.amazonaws.com/851725487440/chat-queue
CHAT_MESSAGES_TABLE=Messages
